*{
    margin: 0;
    padding: 0;
}
.box{
    background-image:url(photo_2026-06-03_10-39-58.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    color: white;
}
.lo img{
    width: 100px;
}
.lo h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
header span{
    color: rgb(56, 157, 240);
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header h1, h3, .lo{
    margin-top: 10px;
}
.lo{
    display: flex;
    align-items: center;
}
button{
    color: white;
    background-color: rgb(130, 193, 245);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.a{
    display: flex;
    gap: 10px;
}
.q{
    color: black;
    background-color: yellow;
    width: 100px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.w{
    font-size: 30px;
    width: 500px;
    height: 400px;
}
.m{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
small{
    font-size: 15px;
}
.w button{
    margin-top: 50px;
}
.w img{
    
    width: 500px;
}
.e{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.e .w{
    width: 500px;
}
.e img{
    width: 500px;
    height: 450px;
}
.r{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.z{
    margin-top: 300px;
    color: black;
}
.z span{
    text-decoration: underline;
    text-decoration-color: yellow;
}